<html ng-app="rough">
<head>
	 <script src="lib/angular/angular.js"></script>
	 <link rel="stylesheet" href="assets/css/bootstrap.css">
</head>
<body ng-controller="rough1" >
	<form name="r" novalidate>
		<input type="text" name="rn" ng-model="rt" required>
	
	</form>
	<form name="df">
		<input type="text" name="rn1" ng-model="t" required>
		
	</form>
	<form name="gdshsd">
	<button type="button" class="btn btn-info" ng-disabled="r.rn.$invalid||df.rn1.$invalid">Info</button>
	</form>
</body>
<script>
angular.module('rough',[])
.controller("rough1",rough1)
function rough1($scope){

}
</script>
</html>
