<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ngMessages Demo</title>
  
  <!-- CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cerulean/bootstrap.min.css">
  <style>body { padding-top:50px; }</style>
  
  <!-- JS -->
  <script src="//code.angularjs.org/1.4.0/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
 
</head>
<body class="container" ng-app="app" ng-controller="MainCtrl as main">
  
  <div class="well text-center">
    <h2>Better AngularJS Validation with ngMessages</h2>
    <p><a href="#">A tutorial by Scotch.io</a></p>
  </div>
  
  <form name="userForm" novalidate>
    
    <div class="form-group" ng-class="{ 'has-error': userForm.name.$touched && userForm.name.$invalid }">
      <label>Name</label>
      <input type="text" name="name" class="form-control" 
        ng-model="main.name"
        ng-minlength="5"
        ng-maxlength="10"
        required>
        
      <div class="help-block" ng-messages="userForm.name.$error" ng-if="userForm.name.$touched">
        <p ng-message="minlength">Your name is too short.</p>
        <p ng-message="maxlength">Your name is too long.</p>
        <p ng-message="required">Your name is required.</p>
      </div>
    </div>
    
    <div class="form-group" ng-class="{ 'has-error': userForm.email.$touched && userForm.email.$invalid }">
      <label>Email</label>
      <input type="email" name="email" class="form-control" 
        ng-model="main.email"
        ng-minlength="5"
        ng-maxlength="20"
        required>
        
      <div class="help-block" ng-messages="userForm.email.$error" ng-if="userForm.email.$touched">
        <div ng-messages-include="messages.html"></div>
      </div>
      
    </div>
    
    <div class="form-group">
      <button type="submit" class="btn btn-danger" ng-click="a()">Submit</button>
    </div>
    
  </form>
  
<pre>userForm.name.$error = {{ userForm.name.$error | json }}</pre>
  
</body>
</html>
<script>
	angular
  .module('app', ['ngMessages'])
  .controller('MainCtrl', MainCtrl);
  
function MainCtrl($scope) {
  $scope.a=function(){
    alert();
  }
}

</script>





<!-- <div class="container" style="margin-top:1.5em;">
    <div class="topContainer">
        <div class="row bgwhite TOP">
            <div class="col-sm-3">
                <div class="image">
                    <img ng-src="{{picImage}}" class='logo'>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <h3 class="heading topheading">
                        <span ng-show="data_recevied">
                            <i class="fa fa-spin fa-spinner"></i>
                        </span>
                    {{location_name}} 
                
                        
                        
                        
                        <br>
                            <p class="store-desc" style="padding-top:5px;">{{location_desc}}</p>
                            <p class="store-desc">{{location_addr}},{{location_lcity}},{{location_lcountry}},{{location_lpostcode}},{{location_lstate}},{{location_lcountry}}|{{location_openingtime}}-{{location_closingtime}}</p>
                        </h3>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <form id="payment-form" name="userForm" novalidate>
            <div class='row to-do'>
                <div>
                    <div class="col-sm-8 bgwhite leftCtnr">
                          <div class="text-center" ng-show="success_message" style="padding:130px;">
                            <span  class="bold">
                            Thank You {{fullname}}! We have registered your order and will soon start to prepare it for you. You will receive an email confirming from us shortly.
                          </div>
                        <div class='row left' ng-show="order_not_success">
                                       
                            <div class="form-inline " role="form" name="contact">
                                <div class="formcontainer">
                                 <span class="bold">1.VERIFY ORDER</span>
                                 <p>Please verify order with your phone number. This is also how we will reach out to you about status of your order.</p>
                                       <div class="form-group">
                                    <input type="tel" class="form-control input-lg" id="mobile-number" ng-model="phone_no" placeholder="Phone number" style="width: 592px;" name="phone" required>
                                    <span class="btn btn-info btn-lg" ng-click="phone_no_submitted(
                                    )" ng-disabled="contact.$invalid || contact.$pending"><span ng-show="phone_spinner">
                            <i class="fa fa-spin fa-spinner"></i>
                        </span>Submit</span>
                                    
                                     </div>
                                        <div class="form-group" ng-show="existing_customer">
                                 <p>Please provide the SMS code received at above phone number</p>
                               
                                    <input type="text" class="form-control" ng-model="smscode" name="smscode" required>
                                    <span class="btn btn-info" ng-disabled="userForm.smscode.$invalid" ng-click="sms_code_submitted(
                                    )"><span ng-show="phone_spinner">
                            <i class="fa fa-spin fa-spinner"></i>
                        </span>Submit</span>
                                    
                                  
                                 </div>
                                </div> 
                            </div> 
                            <hr class="separator">
                            <div class="formcontainer">
                                <span class="bold">2.DELIVERY DETAILS</span>
                                <div class="row padbot" ng-show="contact_submitted">
                                    <span ng-show="never">
                                                        <input type="text" ng-model="orderid"  />
                                                    </span>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control input-lg" ng-model="first_name" placeholder="First name" name="f_n" ng-blur="f_n()" required>
                                              <span ng-show="userForm.f_n.$invalid&& !userForm.f_n.$pristine">Looking for a valid name</span>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control input-lg" ng-model="last_name" placeholder="Last name" name="l_n" ng-blur='names_found()'required>
                                              <span ng-show="userForm.l_n.$invalid&& !userForm.l_n.$pristine">Looking for a valid name</span>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control input-lg" name="stripeEmail" ng-model="stripeEmail" placeholder="Email" ng-blur="emailerror()" required>
                                            <span ng-show="userForm.stripeEmail.$invalid&& !userForm.stripeEmail.$pristine">Looking for a valid email-id</span>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control input-lg" name="addr" ng-model="addr" placeholder="Address" ng-blur="addr_error()"required>
                                             <span ng-show="userForm.addr.$invalid&& !userForm.addr.$pristine">Looking for a valid address</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control input-lg" name="city" ng-model="city" placeholder="City"  disabled>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control input-lg" name="country" ng-model="country" placeholder="Country"  disabled>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control input-lg" name=" postcode" ng-model="postcode" placeholder="Postcode" ng-blur="postcode_error"required>
                                             <span ng-show="userForm.postcode.$invalid&& !userForm.postcode.$pristine">Looking for a valid postcode</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="separator">
                            <div class="formcontainer">
                                <span class="bold">2.PAYMENT DETAILS</span>
                                <div class="row padbot" ng-show="contact_submitted">
                                    <div class="col-sm-6">
                                        <div class='card-wrapper form-group'></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control input-lg" size="20" data-stripe="number" ng-model="cardnumber" name="number" placeholder="Card number" ng-blur="card_error()" required>
                                             <span ng-show="userForm.number.$invalid&& !userForm.number.$pristine">Looking for a valid card number</span>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-inline">
                                                <input type="text" size="2" data-stripe="exp-month" class="form-control input-lg" ng-model="cc_month" cc-exp-month name="expiry" placeholder="MM" ng-blur="exp_month_error()" required>
                                                <span> / </span>
                                                <input type="text" size="4" data-stripe="exp-year" class="form-control input-lg" ng-model="cc_year" cc-exp-year name="expiry" placeholder="YYYY" ng-blur="exp_year_error()" required/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                  

                                                <input type="text" class="form-control input-lg" size="4" data-stripe="cvc" ng-model="CVC" cc-cvc name="cvc" placeholder="CVC" ng-blur="cvc_error()"required>


                                            </div>
                                             <span ng-show="userForm.expiry.$invalid&& !userForm.expiry.$pristine">Looking for a valid expiry date</span>
                                         
                                               <span ng-show="userForm.cvc.$invalid&& !userForm.cvc.$pristine">Looking for a valid CVC</span>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control input-lg" name='first_name' ng-model="fullname" placeholder="Name on card" required>
                                        </div>
                                    
                                        <div class="form-group">
                                            <span class="payment-errors" style="color: red" ng-bind="payment_errors"></span>
                                        </div>
                                     
                                           <div class="form-group pull-right">
                                            <button class="btn btn-info btn-lg" ng-click="newcharge()" ng-disabled="userForm.first_name.$invalid||userForm.cvc.$invalid||userForm.expiry.$invalid||userForm.number.$invalid||userForm.postcode.$invalid||userForm.addr.$invalid||userForm.stripeEmail.$invalid||userForm.f_n.$invalid||userForm.l_n.$invalid" ng-style="{'background-color' : (disabled==true) ? 'rgb(239, 110, 84              )' : '#bbbdc0'}"> <span ng-show="payment_spinner">
                            <i class="fa fa-spin fa-spinner"></i>
                        </span>Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 bgwhite">
                    <div class="text-center" style="padding-top: 20px;">
                        <div class="cart">
                            <div class="cartheader">
                                <span class="bold"> YOUR ORDER</span>
                                <div class="cartheader-message">
                                    <span ng-show="basket_is_not_empty"> 
                                       You haven’t added anything to your cart yet! Start adding your favourite dishes
                                       </span>
                                    <div class="row">
                                        <div ng-repeat='row in cart'>
                                            <div class="col-sm-6">
                                                <div class="pull-left">
                                                    <div>
                                                        {{row.count}}&nbsp;X&nbsp;


                                                        <span style="color:rgb(239,110,84)">{{row.name}}</span>
                                                        <br/>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="pull-left"></span>
                                            <span class="pull-right" style="padding-right:15px;">
                                           {{row.price}}{{currency}} 
                                                            
                                                                                                                    
                                             </div>
                                           </div>
                                         </div>
                                       </div>
                                       <div class="cart-containt">
                                        <div class="row">
                                          <div class="col-sm-6"style="
                                          padding-bottom: 17px;
                                          ">
                                          <div class="pull-left">
                                            <div> &nbsp;&nbsp;&nbsp;Subtotal</div>
                                            <div class="bold" style="
                                            font-size: medium;
                                            padding-top: 20px;
                                            margin-left: 16px;

                                            "
                                            >Total</div>
                                          </div>
                                        </div>
                                        <div class="col-sm-6">
                                          <div class="pull-right">
                                            <div>{{total_price}} {{currency}}</div>
                                            <div class="bold"style="
                                            font-size: medium;     padding-right: 11px;  padding-top: 20px;

                                            ">{{total_price}} {{currency}} </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                  <script>
                    $("#mobile-number").intlTelInput({});
                  </script>
                  <script type="text/javascript">
        // This identifies your website in the createToken call below
        Stripe.setPublishableKey('pk_test_s9jIizZdUfhjMplDPtyMFAN7');
        // ...
      </script>
      <script>
        var card = new Card({
          form: 'form',
          container: '.card-wrapper',

          formSelectors: {
            nameInput: 'input[name="first-name"], input[name="last-name"]'
          }
        });
      </script> -->