<div class="page-body ng-scope login-page login-light">
<div class="login-container">           
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<form class="login-form fade-in-effect in">
				<div class="login-header">
					<a href="#/app/dashboard-variant-1" class="logo">
						<strong>RESET </strong>
					</a>
					<p>Forgot password, Do'nt worry we are here to help you!</p>
				</div>
				<div class="form-group">
					<label class="control-label" for="Email">Email</label>
					<input type="text" class="form-control" name="Email" ng-model="email" autocomplete="off" />
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary  btn-block text-left" ng-click="reset()">
						<i class="fa-lock"></i>
						Submit
					</button>
				</div>
			</form>
		</div>
	</div>
</div> 
</div>