<!DOCTYPE html>
<html>

  <head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>  
    <link data-require="intl-tel-input@*" rel="stylesheet" href="https://rawgit.com/Bluefieldscom/intl-tel-input/master/build/css/intlTelInput.css" />

    <script data-require="intl-tel-input@*"
      src="https://rawgit.com/Bluefieldscom/intl-tel-input/master/build/js/intlTelInput.js"></script>
    <script data-require="angular.js@~1.4.3" data-semver="1.4.3" src="https://code.angularjs.org/1.4.3/angular.min.js"></script>
   

    <script
      src="https://rawgit.com/Bluefieldscom/intl-tel-input/master/lib/libphonenumber/build/utils.js"></script>
      

    <script
      src="https://rawgit.com/mareczek/international-phone-number/master/releases/international-phone-number.js"></script>

  </head>

  <body ng-app="phoneApp" ng-controller="phoneController">

    <h1>Demo of <a href="github.com/mareczek/international-phone-number">international-phone-number</a></h1>
    <p><code>international-phone-number</code> is a cool Angular directive of phone number inputs</p>



    <h2>Package versions</h2>
    <p><code>anuglar</code> v.{{angular_version}}</p>
    <p><code>international-phone-number</code> v.{{version}}</p>
    <p>(underlying JQuery plugin) <a href="github.com/Bluefieldscom/intl-tel-input">int-tel-input</a> v.{{int_tel_input_version}}</p>
    

    <h2>Here is number</h2>
    <p>Model: {{phone}}</p>
    <p>Formated view: {{phoneOnlyForm.phone.$viewValue}}</p>
    <form name="phoneOnlyForm">
      <input type="text"
        name="phone"
        required
        ng-model="phone"
        international-phone-number>
        
      <input value="+1" type="tel" international-phone-number auto-hide-dial-code="false" class="phone" name="phoneCountryCode" ng-model="phone" required>
    </form>
  </body>

</html>
<script>
  var phoneApp = angular.module('phoneApp',
    ['internationalPhoneNumber']);

phoneApp.controller('phoneController', [
        '$scope',
function($scope) {
  
  
  //console.log($scope.phoneOnlyForm.phone);
}]);
</script>