/*img-crop {
width:100%;
height:100%;
display:block;
position:relative;
overflow:hidden;
}*/

img-crop canvas {
    display: block;
    position: relative;
    left: 12%;
    top: 96%;
    -webkit-tap-highlight-color: transparent;
    width: 100%!important;
    height: 200px!important;
    margin-top: 0px!important;
}
.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:500px;
  height:350px;
  margin: auto;
}