<div class="login-container">
   <div class="row">
       <div class="col-sm-6 col-sm-offset-3">
           <form method="post" role="form" id="signupform" class="login-form fade-in-effect in" name="signupform" novalidate>
               <div class="login-header">
                   <a href="#/app/dashboard-variant-1" class="logo">
                       <strong>SIGN UP</strong>
                   </a>
                   <p>Resgistration!</p>
               </div>
               <div class="form-group">
                   <label class="control-label" for="Email">Email</label>
                   <input type="Email" class="form-control" name="Email" id="Email" autocomplete="off" ng-model="email" ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i" required/>
               </div>
                <div>
                   <span style="color:red" ng-show="signupform.Email.$error.pattern">
                     Enter a valid email
                    </span>
               </div>
               <div class="form-group">
                   <label class="control-label" for="passwd">Password</label>
                   <input type="password" class="form-control" name="passwd" id="passwd" autocomplete="off" ng-model="password"  ng-minlength="6"required/>
               </div>
               
                   <span style="color:red" ng-show="signupform.passwd.$error.minlength">
                     Password must be more then 6 character
                    </span>
               
               <div class="form-group">
                   <button type="submit" class="btn btn-primary  btn-block text-left" ng-click="signup()" ng-disabled="signupform.$invalid">
                        Sign Up                        
                       <i class="fa-lock"></i>
                       <span ng-show="spinner">
                           <i class="fa fa-spin fa-spinner"></i>
                       </span>
                   </button>
               </div>
           </form>
       </div>
   </div>
</div>