 <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        <h1 class="panel-title"><strong>Product List&nbsp;<span ng-show="spinner"><i class="fa fa-spin fa-spinner"></i></span></strong></h1>
                    </div>
                    <div class="col-sm-2 col-sm-offset-4">
                        <a class="btn btn-success" ng-click="addProductPage()">Add</a>
                    </div>
                </div>

            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <br/>
                        <br/>
                         <div ui-tree id="tree-root">
       <ol ui-tree-nodes ng-model="data">
         <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
       </ol>
         </div>
                        <ul id="nestable-list-1" class="uk-nestable">
                            <li data-item="Item 1" data-item-id="a">
                                <div class="uk-nestable-item">
                                    <div class="uk-nestable-handle"></div>
                                    <div data-nestable-action="toggle"></div>
                                    <div class="list-label"><a href="" ng-click='categoryForm()' data-toggle="modal" data-target="#myModal">Add Category Menu</a> </div>
                                </div>
                            </li>
                        </ul>
                          <div ui-tree>
                            <div ui-tree="treeOptions">
                                <ol ui-tree-nodes ng-model="catArr">
                                    <ul id="nestable-list-1" class="uk-nestable">
                                        <li data-item="Item 1" data-item-id="a" ui-tree-node ng-repeat="Arr in catArr" ui-tree-node>
                                            <div class="uk-nestable-item">
                                                <div class="uk-nestable-handle"></div>
                                                <div data-nestable-action="toggle"></div>
                                                <div class="list-label">{{Arr}}
                                                {{Arr.pname}}</div>
                                            </div>
                                        </li>
                                    </ul>
                                </ol>
                            </div>
                        </div>
                        <hr/>
                        <div ui-tree>
                            <div ui-tree="treeOptions">
                                <ol ui-tree-nodes ng-model="productList">
                                    <ul id="nestable-list-1" class="uk-nestable">
                                        <li data-item="Item 1" data-item-id="a" ui-tree-node ng-repeat="product in productList" ui-tree-node>
                                            <div class="uk-nestable-item">
                                                <div class="uk-nestable-handle"></div>
                                                <div data-nestable-action="toggle"></div>

                                                <div class="list-label">{{product.pname}}&nbsp; &nbsp; {{product.pdesc}}&nbsp; &nbsp; {{product.pinv}}&nbsp; &nbsp; {{product.price}}</div>
                                            </div>
                                        </li>
                                    </ul>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    
         <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add Category</h4>
                    </div>
                    <div class="modal-body">

                        <label class="control-label" for="full_name">
                            <strong>Name</strong>
                        </label>
                        <input class="form-control" name="full_name" id="full_name" data-validate="required" ng-model="name" />

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="saveCategory()" data-dismiss="modal">Save changes</button>
                    </div>
                </div>
            </div>
        </div>



         <script type="text/ng-template" id="nodes_renderer.html">

  <div ui-tree-handle class="tree-node tree-node-content">
    <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)"><span
        class="glyphicon"
        ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span></a>
    {{node.title}}
    <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span
        class="glyphicon glyphicon-remove"></span></a>
    <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span
        class="glyphicon glyphicon-plus"></span></a>
  </div>
  <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
    </li>
  </ol>
 </script>

<!-- // <div class="row">
//     <div class="col-sm-2"></div>
//     <div class="col-sm-8">
//         <div class="panel panel-default">
//             <div class="panel-heading">
//             <div class="row">
//                 <div class="col-sm-6">
//                     <h1 class="panel-title"><strong>Product List</strong></h1>
//                 </div>
//                 <div class="col-sm-2 col-sm-offset-4">
//                     <a class="btn btn-success" ng-click="addProductPage()">Add</a>
//                 </div>
//             </div>
                
//             </div>
//             <div class="panel-body">
//                     <div class="row">
//                         <div class="col-sm-12">
//  <div ui-tree id="tree-root">
//       <ol ui-tree-nodes ng-model="data">
//         <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
//       </ol>
//         </div>
//   </div>

//                             <table class="table responsive">
//                             <thead>
//                                 <tr>
//                                     <th>#</th>
//                                     <th>Product Name</th>
//                                     <th>Description</th>
//                                     <th>Quantity</th>
//                                     <th>Price</th>
//                                     <th>Edit</th>
//                                     <th>Delete</th>
//                                 </tr>
//                             </thead>
                            
//                             <tbody>
//                             <tr ng-show="spinner">
//                                 <td colspan="7" style="text-align:center;"><i class="fa fa-spin fa-spinner"></i></td>
//                             </tr>
//                                 <tr ng-repeat="product in productList | orderBy: '-created'">
//                                     <td>{{$index}}</td>
//                                     <td>{{product.pname}}</td>
//                                     <td>{{product.pdesc}}</td>
//                                     <td>{{product.pinv}}</td>
//                                     <td>{{product.price}}</td>
//                                    <td><button class="btn" ng-click="editProduct(product._id)"><span class="glyphicon glyphicon-pencil"></span></button></td>
//                                     <td><button class="btn" ng-click="deleteProduct(product._id, $index)"><span class="glyphicon glyphicon-trash"></span></button></td>
//                                 </tr>
//                             </tbody>
//                         </table>
//                         </div>
//                     </div>
//             </div>
//         </div>
//     </div>
//     <div class="col-sm-2"></div>

// </div> -->