

		

			
	<!-- <div class="panel panel-default">
		<div class="panel-heading">Simple nesting example</div>
		<div class="panel-body"> -->
			<!-- <div class="row">
				<div class="col-sm-8"> -->
				<div ui-tree>
	             <div ui-tree ="treeOptions">
	             <ol ui-tree-nodes ng-model="nodes">
					<ul id="nestable-list-1" class="uk-nestable" >
						<li data-item="Item 1" data-item-id="a" ui-tree-node ng-repeat="node in nodes" ui-tree-node>
							<div class="uk-nestable-item">
							    <div class="uk-nestable-handle"></div>
							    <div data-nestable-action="toggle"></div>
							    <div class="list-label">{{node}}</div>
							</div>
						</li>
						</ul>
						</ol>
						</div>
						</div>

						<!-- <li data-item="Item 2" data-item-id="b" ui-tree-node>
							<div class="uk-nestable-item">
							    <div class="uk-nestable-handle"></div>
							    <div data-nestable-action="toggle"></div>
							    <div class="list-label">Item 2</div>
							</div>
							
							<ul>					
								<li data-item="Item 7" data-item-id="g" ui-tree-node>
									<div class="uk-nestable-item">
									    <div class="uk-nestable-handle"></div>
									    <div data-nestable-action="toggle"></div>
										<div class="list-label">Item 7</div>
									</div>
									
									<ul>					
										<li data-item="Item 8" data-item-id="h" ui-tree-node>
											<div class="uk-nestable-item">
											    <div class="uk-nestable-handle"></div>
											    <div data-nestable-action="toggle"></div>
												<div class="list-label">Item 8</div>
											</div>
										</li>
									</ul>
								</li> -->
							<!-- </ul>
							</ol> -->
						<!-- </li> -->
						<!-- <li data-item="Item 3" data-item-id="c" ui-tree-node>
							<div class="uk-nestable-item">
							    <div class="uk-nestable-handle"></div>
							    <div data-nestable-action="toggle"></div>
							    <div class="list-label">Item 3</div>
							</div>
						</li>
						<li data-item="Item 4" data-item-id="d" ui-tree-node>
							<div class="uk-nestable-item">
							    <div class="uk-nestable-handle"></div>
							    <div data-nestable-action="toggle"></div>
							    <div class="list-label">Item 4</div>
							</div>
						</li>
						<li data-item="Item 5" data-item-id="e" ui-tree-node>
							<div class="uk-nestable-item">
							    <div class="uk-nestable-handle"></div>
							    <div data-nestable-action="toggle"></div>
							    <div class="list-label">Item 5</div>
							</div>
						</li>
						<li data-item="Item 6" data-item-id="f" ui-tree-node>
							<div class="uk-nestable-item">
							    <div class="uk-nestable-handle"></div>
							    <div data-nestable-action="toggle"></div>
							    <div class="list-label">Item 6</div>
							</div>
						</li>-->
			<!-- 		
					</div>
				</div>
			</div>
			</div>
			</div>
			</div>
			</div> 


 -->

	<br />
	<p class="well">Grouping nestable lists, try moving items between the lists. Max depth is set to 1</p>

 
 
<!-- <div ui-tree>
 <div ui-tree ="treeOptions">
  <ol ui-tree-nodes ng-model="nodes">
    <li ng-repeat="node in nodes" ui-tree-node>{{node}}</li>
  </ol>
</div>

</div>

 -->