 



<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Store info:</h4>
            </div>
            <div class="panel-body">
                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Store Description</label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="control-label" for="full_name">
                                        <strong>Name</strong>
                                    </label>
                                    <input class="form-control" name="full_name" id="full_name" data-validate="required" />
                                </div>
                                <div class="col-sm-12">
                                    <label class="control-label" for="full_name">
                                        <strong>Description</strong>
                                    </label>
                                    <textarea class="form-control" rows="10" id="uikit_editor_2">#Heading
                                    </textarea>
                                </div>
                                <div class="col-sm-9 ">
                                    <br/>
                                    <br/>
                                   
                                    <label class="control-label" for="full_name">
                                        <strong>Logo</strong>
                                    </label>
                                    <br/>
                                    <span class="file-input btn btn-blue btn-file">
                Browse&hellip; 
                                        
                                        
                                        <input type="file" multiple>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                            <div class="form-group-separator"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Contact</label>
                                <div class="col-sm-10">
                                    <label class="control-label" for="full_name">
                                        <strong>Contact email</strong>&nbsp;&nbsp;&nbsp;Will be included in emails sent to your customers
                                
                                    
                                    
                                    </label>
                                    <input class="form-control" name="full_name" id="full_name" data-validate="required" />
                                </div>
                            </div>
                            <div class="col-sm-9 col-sm-offset-2">
                                <div class="form-block">
                                    <div class="form-group">
                                        <label class="control-label" for="full_name">
                                            <strong>Store address</strong>
                                        </label>
                                        <input class="form-control" name="full_name" id="full_name" data-validate="required" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-9 col-sm-offset-2">
                                <div class="form-block">
                                    <div class="form-group">
                                        <label class="control-label" for="full_name">
                                            <strong>Post code</strong>
                                        </label>
                                        <input class="form-control" name="full_name" id="full_name" data-validate="required" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-9 col-sm-offset-2">
                                <div class="form-block">
                                    <div class="form-group">
                                        <label class="control-label" for="full_name">
                                            <strong>Phone</strong>
                                        </label>
                                        <input class="form-control" name="full_name" id="full_name" data-validate="required" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <hr>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Store status</label>
                                    <div class="col-sm-9">
                                        <label class="control-label" for="full_name">
                                            <strong>Open to customers</strong>
                                        </label>
                                        <div class="form-block">
                                            <input type="checkbox" checked="" class="iswitch-lg iswitch-info">
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="col-sm-12">
                                            <hr>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Closed days:</label>
                                                <div class="col-sm-10">
                                                    <section class="calendar-env">
                                                        <div class="col-sm-10 calendar-right">
                                                            <div class="calendar-main" style="padding:0px;">
                                                                <div id="calendar"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-9 col-sm-offset-4">
                                                            <div class="col-sm-3 calendar-right">
                                                                <div class="calendar-sidebar"></div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <hr>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Timing:</label>
                                                    <div class="col-sm-10">
                                                        <div class="form-block">
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-sm-3 ">
                                                                        <label class="control-label" for="full_name">
                                                                            <strong>Opening time:</strong>
                                                                        </label>
                                                                        <timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                                                                    </div>
                                                                    <div class="col-sm-3">
                                                                        <label class="control-label" for="full_name">
                                                                            <strong>&nbsp;&nbsp;Closing time:</strong>
                                                                        </label>
                                                                        <timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                                                                    </div>
                                                                    <div class="col-sm-8"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-9 col-sm-offset-2">
                                                        <div class="form-block">
                                                            <div class="form-group"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-9 col-sm-offset-2">
                                                        <div class="form-block">
                                                            <div class="form-group">
                                                                <label class="control-label" for="full_name">
                                                                    <strong>Lead    time    (minimum    number  of  minutes it  takes   to  prepare for product delivery.) in minuts</strong>
                                                                </label>
                                                                <br/>
                                                                <input class="col-xs-4" name="full_name" id="full_name" data-validate="required" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="col-sm-4 col-sm-offset-2">
                                                            <br>
                                                                <button class="btn btn-success">Save</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

<script type="text/javascript">
    jQuery.UIkit.htmleditor(jQuery("#uikit_editor_2"), {
        markdown: false
        
    });
</script>
<script type="text/javascript">
    // Calendar Initialization
    jQuery(document).ready(function($) {
        // Form to add new event
        var colors = ['red', 'blue', 'primary', 'success', 'warning', 'info', 'danger', 'purple', 'black', 'gray'];

        $("#add_event_form").on('submit', function(ev) {
            ev.preventDefault();

            var $event = $(this).find('.form-control'),
                event_name = $event.val().trim();

            if (event_name.length >= 3) {
                var color = colors[Math.floor(Math.random() * colors.length)];

                // Create Event Entry
                $("#events-list").append(
                    '<li>\
                    <a href="" data-event-class="event-color-' + color + '">\
                        <span class="badge badge-' + color + ' badge-roundless upper">' + event_name + '</span>\
                    </a>\
                </li>'
                );


                // Reset draggable
                $("#events-list li").draggable({
                    revert: true,
                    revertDuration: 50,
                    zIndex: 999
                });

                // Reset input
                $event.val('').focus();
            } else {
                $event.focus();
            }
        });


        // Calendar Initialization
        $('#calendar').fullCalendar({
            header: {
                left: 'title',
                center: '',
                right: 'month,agendaWeek,agendaDay prev,next'
            },
            buttonIcons: {
                prev: 'prev fa-angle-left',
                next: 'next fa-angle-right',
            },
            defaultDate: '2014-09-12',
            editable: true,
            eventLimit: true,
            events: [{
                title: 'All Day Event',
                start: '2014-09-01'
            }, {
                title: 'Long Event',
                start: '2014-09-07',
                end: '2014-09-10'
            }, {
                id: 999,
                title: 'Repeating Event',
                start: '2014-09-09T16:00:00'
            }, {
                id: 999,
                title: 'Repeating Event',
                start: '2014-09-16T16:00:00'
            }, {
                title: 'Conference',
                start: '2014-09-11',
                end: '2014-09-13'
            }, {
                title: 'Meeting',
                start: '2014-09-12T10:30:00',
                end: '2014-09-12T12:30:00'
            }, {
                title: 'Lunch',
                start: '2014-09-12T12:00:00'
            }, {
                title: 'Meeting',
                start: '2014-09-12T14:30:00'
            }, {
                title: 'Happy Hour',
                start: '2014-09-12T17:30:00'
            }, {
                title: 'Dinner',
                start: '2014-09-12T20:00:00'
            }, {
                title: 'Birthday Party',
                start: '2014-09-13T07:00:00'
            }, {
                title: 'Click for Google',
                url: 'http://google.com/',
                start: '2014-09-28'
            }],
            droppable: true,
            drop: function(date) {

                var $event = $(this).find('a'),
                    eventObject = {
                        title: $event.find('.badge').text(),
                        start: date,
                        className: $event.data('event-class')
                    };

                $('#calendar').fullCalendar('renderEvent', eventObject, true);

                // Remove event from list
                $(this).remove();
            }
        });


        // Draggable Events
        $("#events-list li").draggable({
            revert: true,
            revertDuration: 50,
            zIndex: 999
        });
    });
</script>