<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Store info:</h4>
            </div>
            <div class="panel-body">
                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Store Description</label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="control-label" for="full_name">
                                        <strong>Name</strong>
                                    </label>
                                    <input class="form-control" name="full_name" id="full_name" data-validate="required" ng-model="lname" />
                                </div>
                                <div class="col-sm-12">
                                    <label class="control-label" for="full_name">
                                        <strong>Description</strong>
                                    </label>
                                    <textarea class="form-control" rows="2" id="uikit_editor_2" ng-model="ldesc">
                                    </textarea>
                                </div>
                                <div class="col-sm-9 ">
                                    <label class="control-label" for="full_name">
                                        <strong>Logo</strong>
                                    </label>
                                    <br/>
                                    <span class="file-input btn btn-blue btn-file">
                                       Browse&hellip;           
                                        
                                        <input type="file" nv-file-select="" uploader="uploader" single>
                                        </span>
                                        <strong ng-model="imagename">{{uploader.queue.file.name[0]}}</strong>
                                        <div ng-repeat="item in uploader.queue">
                                            <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                            <button type="button" class="btn btn-blue btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                <span class="glyphicon glyphicon-upload"></span> Upload
                                            
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group-separator"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Contact:</label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label class="control-label" for="full_name">
                                            <strong>Contact email</strong>&nbsp;&nbsp;&nbsp;Will be included in emails sent to your customers
                                        
                                        </label>
                                        <input class="form-control" name="full_name" id="full_name" data-validate="required" ng-model="lemail" />
                                        <label class="control-label" for="full_name">
                                            <strong>Store address</strong>
                                        </label>
                                        <input class="form-control" name="full_name" id="full_name" data-validate="required" ng-model="laddr" />
                                        <label class="control-label" for="full_name">
                                            <strong>Post code</strong>
                                        </label>
                                        <input class="form-control" name="full_name" id="full_name" data-validate="required" ng-model="lpostcode" />
                                        <label class="control-label" for="full_name">
                                            <strong>City</strong>
                                        </label>
                                        <input class="form-control" name="full_name" id="full_name" data-validate="required" ng-model="lcity" />
                                        <label class="control-label" for="full_name">
                                            <strong>State</strong>
                                        </label>
                                        <input class="form-control" name="full_name" id="full_name" data-validate="required" ng-model="lstate" />
                                        <label class="control-label" for="full_name">
                                            <strong>Country</strong>
                                        </label>
                                        <select class="form-control" id="country" name="country" ng-model="lcountry"></select>
                                        <label class="control-label" for="full_name">
                                            <strong>Phone</strong>
                                        </label>
                                        <div class="col-sm-12">
                                        <!-- <input class="form-control" name="phone"  ng-model="phone" international-phone-number/> -->
                                      <!--  <input value="+1" type="tel" international-phone-number auto-hide-dial-code="false" class="phone" name="phoneCountryCode" ng-model="phone" required> -->
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <hr>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Store status</label>
                                <div class="col-sm-9">
                                    <label class="control-label" for="full_name">
                                        <strong>Open to customers</strong>
                                    </label>
                                    <div class="form-block">
                                        <input type="checkbox" checked="" class="iswitch-lg iswitch-info" ng-model="lclosed">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-sm-12">
                                        <hr>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Closed days:</label>
                                            <div class="col-sm-10">
                                                <multiple-date-picker days-selected="selectedDays" day-click="logInfos" highlight-days="highlightDays" />
                                            </div>
                                        </div>
                                        <div class="form-group-separator"></div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Timing:</label>
                                            <div class="col-sm-10">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="col-sm-3 ">
                                                            <label class="control-label" for="full_name">
                                                                <strong>Select Day:</strong>
                                                            </label>
                                                            <div style="margin-top:48px">
                                                             <select class="form-control" ng-model="day">
                                                                  <option  
                                                                  ng-repeat="row in dropdown_days[&quot;'Architect'&quot;]" value="{{row}}" ng-if="showOptions(row)">{{row}}</option>
                                                             </select>                         
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3 ">
                                                            <label class="control-label" for="full_name">
                                                                <strong>Opening time:</strong>
                                                            </label>
                                                            <timepicker ng-model="open" ng-change="openingtime()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <label class="control-label" for="full_name">
                                                                <strong>&nbsp;&nbsp;Closing time:</strong>
                                                            </label>
                                                            <timepicker ng-model="close" ng-change="closingtime()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div style="margin-top:67px">
                                                                <button class="btn btn-blue" ng-click="tsave();">Save 
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-9 col-sm-offset-2">
                                                <div class="form-block">
                                                    <div class="col-sm-14">
                                                        <div class="col-sm-12">
                                                            <table class="table responsive">
                                                                <thead>
                                                                    <tr>
                                                                        <th>#</th>
                                                                        <th>Day</th>
                                                                        <th>Opening Time</th>
                                                                        <th>Closing Time</th>
                                                                        <th>Delete</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td colspan="7" style="text-align:center;">
                                                                            
                                                                        </td>
                                                                    </tr>
                                                                    <tr ng-repeat="day in day1 track by $index">
                                                                        <td>{{ $index+1 }}</td>
                                                                        <td>{{day.day}}</td>
                                                                        <td >{{day.opening_time}}</td>
                                                                        <td>{{day.closing_time}}</td>
                                                                        <td>
                                                                            <button class="btn" ng-click="removeTimes(day)">
                                                                                <span class="glyphicon glyphicon-trash"></span>
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-9 col-sm-offset-2">
                                        <div class="form-block">
                                            <div class="form-group">
                                                <label class="control-label" for="full_name">
                                                    <strong>Lead    time    (minimum    number  of  minutes it  takes   to  prepare for product delivery.) in minuts</strong>
                                                </label>
                                                <br/>
                                                <input class="col-xs-2" name="full_name" id="full_name" data-validate="required" ng-model="llt" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-9 col-sm-offset-2">
                                        <div class="form-block">
                                            <div class="form-group">
                                                <label class="control-label" for="full_name">
                                                    <strong>Message</strong>
                                                </label>
                                                <textarea class="form-control" rows="5" id="comment" ng-model="lmessage"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="col-sm-9 col-sm-offset-2">
                                            <div class="form-block">
                                                <div class="form-group">
                                                    <button class="btn btn-blue" ng-click="lsave();">Save             
                                                        <span ng-show="spinner">
                                                            <i class="fa fa-spin fa-spinner"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
jQuery.UIkit.htmleditor(jQuery("#uikit_editor_2"), {
      markdown: false,
      mode: 'tab',
      height : 250,
      lblPreview   : ' ',
      lblCodeview  : ' ',
      lblMarkedview: ' '
  });
</script>
<script language="javascript">
populateCountries("country");
 </script>